.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -1.4px;
    color: #1e1e2f;
}

.subtitle {
    color: #555;
    font-size: 1.1rem;
    letter-spacing: -0.5px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto 40px auto;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    padding: 4px 8px;
}

.search-box input {
    flex: 1;
    padding: 10px 16px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 24px;
    background: transparent;
    color: #333;
}

.search-box .search-btn {
    background: #4a4de7;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.search-box .search-btn:hover {
    background: #3739c5;
}

.movies-grid {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.movie-card {
    height: 420px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: all 0.2s ease;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.movie-card img {
    width: 100%;
    height: 260px;
    border-radius: 16px;
    object-fit: cover;
}

.movie-info {
    padding: 16px;
    text-align: left;
}

.movie-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #2b2b4e;
    margin-bottom: 15px;
}

.movie-year {
    display: inline-block;
    font-size: 0.9rem;
    background: #e6e8ff;
    color: #4a4de7;
    padding: 6px 12px;
    border-radius: 6px;
}

.loader {
    position: absolute;
    margin-top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 260px;
    --c: no-repeat linear-gradient(#4a4de7 0 0);
    background: var(--c), var(--c), #d7b8fc;
    border-radius: 12px;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}

@keyframes l16 {
    0% {
        background-position: -150% 0, -150% 0
    }

    66% {
        background-position: 250% 0, -150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}